@page "/"

<PageTitle>Jesus is LOVE</PageTitle>

<h1>John 3:16</h1>

' “For God so loved the world, that He gave His only Son, so that everyone who believes in Him will not perish, but have eternal life. '

<Counter IncrementAmount="25" />
