@using FatCat.Toolkit.Console
@rendermode InteractiveServer

<h3>PlayingComponent</h3>

@if (Items.Count != 0)
{
    <ul>
        @foreach (var item in Items)
        {
            <li>@item.FirstName</li>
        }
    </ul>
}
else
{
    <p>No items to display</p>
}

<input @oninput="OnInput" @bind="message"/>
<p>@message</p>

@code {

    private string message;

    [Parameter]
    public List<PlayingWithData> Items { get; set; } = [];

    private void TextboxChanged(ChangeEventArgs args) { Console.WriteLine(args.Value); }

    private void OnInput(ChangeEventArgs obj) { ConsoleLog.Write(obj.Value.ToString()); }

}